.choices{
    border: 2px solid white;
    border-radius: 8px;
    margin: auto;
    width: 30%;
    padding: 50px 50px 50px 50px ;
    background-color: white;

}

.btn1{
    margin: auto;
    width: 50%;


}

.btn2{
    margin: auto;
    width: 50%;


}

.btn3{
    margin: auto;
    width: 50%;


}

#btn1{
    background-color: slateblue;
    border-radius: 8px;
    padding: 10px 10px 10px 10px;
}

#btn2{
    background-color: slateblue;
    border-radius: 8px;
    padding: 10px 10px 10px 10px;
}

#btn3{
    background-color: slateblue;
    border-radius: 8px;
    padding: 10px 10px 10px 10px;
}

.welcome{
    background-color: slateblue;
    border-radius: 8px;
    margin: auto;


}

.body{
    background-color: darkslateblue;
}